# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/built-lambda

/.netlify

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs
/.vs/coastguard/config/applicationhost.config
/.vs/coastguard/FileContentIndex
/.vs/coastguard/config/applicationhost.config
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/coastguard/v17/.suo
/.vs/coastguard/v17
/.vs/coastguard/FileContentIndex/write.lock
/.vs/coastguard/FileContentIndex/read.lock
/.vs/coastguard/FileContentIndex/merges/8109df55-8f33-41ef-90a0-5c6f803a55d2.vsidx
/.vs/coastguard/FileContentIndex/merges
/.vs/coastguard/FileContentIndex/cacb2f9f-8994-4526-bcaf-5f8c8c4174e7.vsidx
/.vs/coastguard/FileContentIndex/c2b50563-9066-4a93-96a9-7d8a944c0bc4.vsidx
/.vs/coastguard/FileContentIndex/594c314f-390c-4223-bcfc-e187580dd11c.vsidx
/.vs/coastguard/FileContentIndex/3d68ce38-88d6-482f-b81b-53661c48c090.vsidx
/.vs/coastguard/FileContentIndex
/.vs/coastguard/config/applicationhost.config
/.vs/coastguard/config
/.vs/coastguard
/.vs
/.vs
