@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: none transparent;
    overflow: hidden;
    line-height: 1.2;
    letter-spacing: 0.01071em;
    font-family: 'Roboto', sans-serif;
}

.text-lge {
    color: White;
    font-size: 80px;
    font-weight: 600;
}

.text-med {
    color: White;
    font-size: 28px;
    font-weight: 600;
}

.text-sml {
    color: White;
    font-size: 20px;
    font-weight: 600;
}

.text-overlay {
    margin: 5px;
    color: DimGray;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0px 0px 10px #FFFFFF;
}

/*purple*/
img.hue0 {
    filter: hue-rotate(60deg);
}
/*pink*/
img.hue1 {
    filter: hue-rotate(120deg);
}
/*bronze*/
img.hue2 {
    filter: hue-rotate(180deg);
}
/*lime*/
img.hue3 {
    filter: hue-rotate(240deg);
}
/*green*/
img.hue4 {
    filter: hue-rotate(300deg);
}
