.wrapper {
    display: block;
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    border: 0px solid gray;
}

.label {
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    line-height: 110%;
}

.numeral {
    font-weight: 700;
    width: 100%;
    line-height: 110%;
    letter-spacing: -2px;
}

.left {
    text-align: left;
    padding: 5px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

img {
    width: 100%;
    height: 100%;
}

/* ------------------------------------------------------------ */

.leaflet-container {
    margin: 0;
    min-width: 320px;
    height: 98vh;
    border-radius: 10px;
    background-color: #282c34;
}

label {
    text-align: left;
}

.tooltip {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    padding: 0px 5px 0px 5px;
}

.next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #444;
    width: 34px;
    height: 34px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    border: 1px solid gray;
}

.next-icon {
    margin: 6px 0, 0;
}

.next-link {
    width: 30px;
    height: 30px;
    margin: 0;
}

/* ------------------------------------------------------------ */

.clock {
    border: 0px solid gray;
    padding-top: 5px;
    padding-bottom: 10px;
}

    .clock > .label {
        text-align: center;
    }

    .clock > .numeral {
        font-size: 88px;
        text-align: center;
    }

/* ------------------------------------------------------------ */

.weather {
    display: grid;
    border: 0px solid gray;
    grid-template-columns: 120px auto 30px;
    align-items: center;
    justify-items: stretch;
    grid-template-areas:
        "icon numeral celcius"
        "icon numeral celcius"
        "label label label";
}

    .weather > .icon {
        grid-area: icon;
        width: 120px;
        height: 120px;
        text-align: center;
        padding-left: 5px;
    }

    .weather > .label {
        grid-area: label;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
    }

    .weather > .numeral {
        grid-area: numeral;
        font-size: 120px;
        white-space: nowrap;
    }

    .weather > .degrees {
        grid-area: degrees;
        font-size: 40px;
    }

    .weather > .celcius {
        grid-area: celcius;
    }

/* ------------------------------------------------------------ */

.data-row {
    display: grid;
    border: 0px solid gray;
    grid-template-columns: fit-content(1%) 1fr fit-content(1%) 30px;
    grid-template-areas:
        "icon label value unit";
}

    .data-row > .icon {
        grid-area: icon;
    }

    .data-row > .label {
        grid-area: label;
        text-align: left;
    }

    .data-row > .value {
        grid-area: value;
        text-align: right;
        font-size: 28px;
        font-weight: 600;
        line-height: 110%;
    }

    .data-row > .unit {
        grid-area: unit;
        text-align: left;
        font-size: 18px;
        font-weight: 600;
        line-height: 110%;
    }

/* ------------------------------------------------------------ */

.forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 5px;
}

.forecast-column {
    display: grid;
    border: 0px solid gray;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        "time"
        "icon"
        "desc"
        "temp"
        "wind";
    border-top: 1px solid gray;
}

    .forecast-column:nth-of-type(1) {
        border-left: none;
    }

    .forecast-column:nth-of-type(2) {
        border-left: 1px solid gray;
    }

    .forecast-column:nth-of-type(3) {
        border-left: 1px solid gray;
    }

    .forecast-column > .time {
        grid-area: time;
    }

    .forecast-column > .icon {
        width: 80px;
        height: 80px;
        grid-area: icon;
        padding-top: 10px;
    }

    .forecast-column > .desc {
        grid-area: desc;
        font-size: 20px;
        padding-bottom: 10px;
    }

    .forecast-column > .temp {
        grid-area: temp;
    }

    .forecast-column > .wind {
        grid-area: wind;
    }

.forecast-row {
    display: grid;
    grid-template-columns: fit-content(1%) 1fr fit-content(1%) 30px;
    grid-template-areas:
        "icon label value unit";
}

    .forecast-row > .icon {
        grid-area: icon;
    }

    .forecast-row > .label {
        grid-area: label;
        text-align: left;
    }

    .forecast-row > .value {
        grid-area: value;
        text-align: right;
        font-size: 28px;
        font-weight: 600;
        line-height: 110%;
    }

    .forecast-row > .unit {
        grid-area: unit;
        text-align: left;
        font-size: 18px;
        font-weight: 600;
        line-height: 110%;
    }

/* ------------------------------------------------------------ */

.sidebar {
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    color: #333;
}

.sidebar-label {
    color: #FFF;
}


